body{
    background-color: rgb(4, 28, 27);
    color: white;
    font-family: "poppins" ,sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 80px;  
    background-color: rgb(18, 69, 68);
}
.left{
    font-family:Brush script MT;
   font-size: 2.2rem;
   text-align: left;
  }
.right{
    margin-left: 400px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 23px;
}
nav a:hover{
    color:rgb(50, 238, 207);
    font-size: 1.04rem;
    }
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
   
}
.purple{
    color: rgb(50, 238, 207); 
}
#element{
    color: rgb(50, 238, 207); 
}
.firstsection > div{
    width: 30%;
}
.rightsection img{
    width: 135%;
    margin-top:-40px;
    margin-left: -60px;
    height: 90%;
}
.leftsection{
    font-size: 3rem;
    margin: 70px 0;
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    background-color: rgb(18, 69, 68);
}
.thirdsection{
    display: flex;
    margin: 80px 0;
}
.thirdsection img{
    width: 160%;
    height: 90%;
    margin: 80px 0;
    margin-left: 70px;
    border-radius: 20px;       
}
.thirdright{
    margin-left: 20%;
}
.thirdright h1{
    background-color:  rgb(18, 69, 68); 
    justify-content: space-around;
    margin-top: 10%;
    font-size: 1.5rem;
}
.box2{
    text-align:left;
}
.box2 a{
    text-decoration: none;
    margin:20px 20px;
    color:white;
}
.webdev{
    color: rgb(39, 192, 166); 
    font-size: 15px;
    margin-top: 25px;
}
.forthsection{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}
.forthleft{
    font-size: 2rem;
}
.contactme{
    color:  rgb(39, 192, 166);
    margin-top: 20px;
    font-size: 1rem;
}
.forthsection button{
    border-radius: 5px;
    margin-top: 50px;
    height: 40px;
    background-color: rgb(229, 41, 91);
    text-align: center;
}
.forthsection button a{
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
.forthsection button a:hover{
    color: black;
}
.icons{
    margin-top: 15px;
}
.icons a:hover{
    color:pink;
}
.form{
    display: flex;
    flex-direction: column;
}
.box{
    padding: 8px;
    margin: 8px;
    margin-left:-130% ;
    border-radius: 5px;
    background-color:rgb(43, 57, 57);   
}
.box:hover{
    color: black;
}
.button{
    padding: 5px;
    height: 40px;
    margin:8px;
    margin-left: -150px;
    margin-right: 140px;
    background-color: rgb(229, 41, 91); 
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
}
.button:hover{
    color: black;
}
.footer{
    height: 100px;
    margin-top: 180px;
    font-size: 20px;
    font-family: monospace;
    background: linear-gradient(rgba(6, 55, 51, 0.8),rgba(27, 91, 90, 0.2));
    justify-content:space-evenly ;
    display: flex;
    align-items: center;
 
    }
.footer a{
    color: white;
    text-decoration: none;
    }
.footer a:hover{
      color:rgb(39, 192, 166); 
    }